<section class="p-5">
  <h2 class="text-center text-2xl font-semibold">All Implementations</h2>
  <% if @error=="true" %>
    <p class="text-red-500 my-2 text-center"><%= notice %></p>
  <% else %>
    <p class="text-green-500 my-2 text-center"><%= notice %></p>
  <% end %>
  <div class="implementation-wrapper my-5 flex justify-center">
    <table class="border border-black">
      <tr>
        <th class="px-5 border border-black">Implementation</th>
        <th class="px-5 border border-black">Option</th>
      </tr>
      <% @implementations.each do |implementation| %>
        <tr>
          <td class="px-5 text-center"><%= implementation.details %></td>
            <td class="flex gap-5 mx-3">
              <%= link_to "Edit", update_implementation_path(id: implementation.id, step_id: @step_id, map_id: @map_id), class: "text-blue-500" %>
              <%= form_with(model: @implementaion, url: destroy_implementation_path(id: implementation.id, step_id: @step_id, map_id: @map_id), method: 'delete', remote: true) do |f| %>
                <%= f.submit "Delete", formaction: destroy_implementation_path(id: implementation.id,step_id: @step_id, map_id: @map_id), class: "text-red-500" %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="btn-group flex gap-5">
    <%= link_to "Back to Steps", steps_path(id: @map_id, edit: @edit), class: "px-2 py-1 border boder-black rounded border-black" %>
    <button class="px-2 py-1 rounded bg-purple-500 text-white" id="implementaion-model-btn">Add Implementation</button>
  </div>
  <div id="implementaion-modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
    <div class="implementation-form-wrapper p-5 bg-white rounded">
      <h2 class="text-center font-semibold text-xl">Add Implementation here</h2>
      <div id="error-msg" class="hidden">
        <p class="text-red-500 my-2">Details is Require</p>
      </div>
      <%= form_with(modal: @implementation, url: create_implementation_path, remote: true) do |f| %>
        <div class="my-5">
          <%= f.label :details, class: "block" %>
          <%= f.text_field :details, id: "step-title", class: "px-2 py-1 border border-black my-2 rounded" %>
        </div>
        <%= f.hidden_field :step_id, id: "step-id", value: @step_id %>
        <%= f.hidden_field :map_id, id: "map-id", value: @map_id %>
        <div class="flex items-center gap-5">
          <button id="close-implementaion-model-btn" class="my-2">Close</button>
          <%= f.submit "Add", class: "px-2 py-1 rounded bg-purple-500 text-white hover:bg-purple-700" %>
        </div>
      <% end %>
    </div>
  </div>
</section>