<section class="p-5 relative">
  <h2 class="text-center text-2xl font-semibold">All mind maps under your name</h2>
  <div class="card flex flex-warp justify-center my-5 gap-5">
    <% @mind_maps.each do |map| %>
      <div class="p-5 rounded border boder-black">
        <p class="text-xl text-center font-semibold my-2 text-purple-600"><%= map.title %></p>
        <p class="text-center"><%= map.moto %></p>
        <div class="btn-group mt-3 flex flex-col justify-center items-center gap-2 border border-t-1 border-b-0 border-r-0 border-l-0 pt-2">
          <div class="flex gap-5 justify-between">
            <%= link_to "Show", steps_path(map.id), class: "text-blue-500 text-center" %>
            <%= form_with(model: @mind_map, url: destroy_mind_map_path(map.id), method: 'delete', remote: true) do |f| %>
              <%= f.submit "Delete", formaction: destroy_mind_map_path(map.id), class: "text-red-500" %>
            <% end %>
            <%= link_to "Visualize", show_visualization_path(map.id), class: "text-green-500" %>
          </div>
          <%= link_to "Share", share_path(map.id), class: "text-center bg-blue-500 px-2 py-1 text-white rounded" %>
        </div>
      </div>
    <% end %>
  </div>
</section>