<section class="p-5">
  <h2 class="text-center text-2xl font-semibold">All Steps</h2>
  <% if @error=="true" %>
    <p class="text-red-500 my-2 text-center"><%= notice %></p>
  <% else %>
    <p class="text-green-500 my-2 text-center"><%= notice %></p>
  <% end %>
  <div class="steps-wrapper flex flex-warp my-5 justify-center gap-5">
    <% @steps.each do |step| %>
      <div class="p-5 rounded border">
        <p class="text-xl text-center font-semibold my-2 text-purple-600"><%= step.title %></p>
        <div class="btn-group my-3 flex justify-center gap-5 justify-center items-center border border-t-1 border-b-0 border-r-0 border-l-0 pt-2">
          <%= link_to "Show", implementations_path(id:step.id, map_id: @step_id), class: "text-green-500 text-center" %>
          <%= link_to "Edit", update_step_path(step.id, map_id: @step_id), class: "text-blue-500" %>
            <%= form_with(model: @step, url: destroy_step_path(step.id), method: 'delete', remote: true) do |f| %>
              <%= f.submit "Delete", formaction: destroy_step_path(step.id, map_id: @step_id), class: "text-red-500" %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="btn-group flex gap-5">
    <%= link_to "Back to Mind Map", root_path, class: "px-2 py-1 border boder-black rounded border-black" %>
    <button class="px-2 py-1 rounded bg-purple-500 text-white" id="step-model-btn">Add Step</button>
  </div>
  <div id="step-modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
    <div class="step-form-wrapper p-5 bg-white rounded">
      <h2 class="text-center font-semibold text-xl">Add Step here</h2>
      <div id="error-msg" class="hidden">
        <p class="text-red-500 my-2">Title is Require</p>
      </div>
      <%= form_with(modal: @step, url: create_step_path, remote: true) do |f| %>
        <div class="my-5">
          <%= f.label :title, class: "block" %>
          <%= f.text_field :title, id: "step-title", class: "px-2 py-1 border border-black my-2 rounded" %>
        </div>
        <%= f.hidden_field :map_id, id: "map-id", value: @step_id %>
        <div class="flex items-center gap-5">
          <%= f.submit "Add", id: "add-step-btn", class: "px-2 py-1 rounded bg-purple-500 text-white hover:bg-purple-700" %>
        </div>
      <% end %>
      <button id="close-step-model-btn" type="menu" class="my-2">Close</button>
    </div>
  </div>
</section>