<section class="p-5">
  <h2 class="text-xl font-xl font-semibold">Update Step Here</h2>
  <%= form_with(modal: @step, url: update_path(id: @id, map_id: @map_id), method: "patch") do |f| %>
    <div class="my-5">
      <%= f.label :title, class: "block" %>
      <%= f.text_field :title, id: "step-title", class: "px-2 py-1 border border-black my-2 rounded", value: @step.title %>
  </div>
  <%= f.hidden_field :map_id, id: "map-id", value: @map_id %>
  <div class="flex items-center gap-5">
    <%= link_to "Back", steps_path(id:@map_id) %>
    <%= f.submit "Edit", class: "px-2 py-1 rounded bg-purple-500 text-white hover:bg-purple-700" %>
  </div>
  <% end %>
</section>